.sourceImage {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.triangleTransform {
  clip-path: polygon(50% 100%, 20% 0%, 80% 0%);
  width: 300px;
  height: 300px;
}

/*10 clip-path: polygon(50% 100%, 20% 0%, 80% 0%); */
/*20 clip-path: polygon(50% 100%, 35% 0%, 65% 0%); */
/*25 clip-path: polygon(50% 100%, 38% 0%, 62% 0%); */
/*30 clip-path: polygon(50% 100%, 40% 0%, 60% 0%); */
/*40 clip-path: polygon(50% 100%, 43% 0%, 58% 0%); */
/*50 clip-path: polygon(50% 100%, 44% 0%, 56% 0%); */
/*60 clip-path: polygon(50% 100%, 45.5% 0%, 55% 0%); */
/*70 clip-path: polygon(50% 100%, 45.7% 0%, 54% 0%); */
/*80 clip-path: polygon(50% 100%, 45.8% 0%, 53% 0%); */
/*90 clip-path: polygon(50% 100%, 45.9% 0%, 52.5% 0%); */
/*100 clip-path: polygon(50% 100%, 46% 0%, 52% 0%); */

.scaleDiv {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
}

.wedgePosition {
  position: absolute;
  transform-origin: center bottom;
}